div{
    display: inline;
}
div.ex1 {
    width: 100px;
    margin: auto;
    height: 100px;
    position: fixed;
    top: 25px;
    background-color: green;
}
div.ex2 {
    width: 100px;
    margin: auto;
    height: 100px;
    position: relative;
    top: 25px;
    left:150px;
    background-color: green;
}
div.ex3 {
    width: 100px;
    margin: auto;
    height: 100px;
    position: fixed;
    top: 25px;
    margin: 25px;
    background-color: green;
}
div.ex4 {
    width: 100px;
    margin: auto;
    height: 100px;
    position: fixed;
    top: 25px;
    margin: 25px;
    background-color: green;
}
div.ex5 {
    width: 100px;
    margin: auto;
    height: 100px;
    position: fixed;
    top: 25px;
    margin: 25px;
    background-color: green;
}
div.ex6 {
    width: 100px;
    margin: auto;
    height: 100px;
    position: fixed;
    top: 25px;
    margin: 25px;
    background-color: green;
}
div.ex7 {
    width: 100px;
    margin: auto;
    height: 100px;
    position: fixed;
    top: 25px;
    margin: 25px;
    background-color: green;
}
div.ex8 {
    width: 100px;
    margin: auto;
    height: 100px;
    position: fixed;
    top: 25px;
    margin: 25px;
    background-color: green;
}
